

@model Agent

@if (Model.agentedHouses.Count() == 0)
{
	<div style="margin:150px;0px;">
	<h1 style="text-align:center;">Agent: @Model.FullName</h1>
	<h1 style="text-align:center;">This agnt does not have any house tto sell</h1>
	</div>
}
else
{
	<div style="text-align:center; font-size:30px;">Agent : @Model.FullName</div>
<div style="margin:auto; display:flex;justify-content:center;padding:80px 0px;">
	<div  style="display:flex;">
		@foreach (var item in Model.agentedHouses)
		{
				<a asp-controller="agentlik" asp-action="detailageentedhouse" asp-route-id="@item.Id" style="text-decoration:none;color:black;">

			<div class="card" style="width: 18rem; margin:10px;">
  <img class="card-img-top" src="~/Assets/Images/@item.Images.FirstOrDefault(x=>x.IsMain).Image" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">@item.FullName</h5>
    <p class="card-text">@item.CreatedDate.Day -- @item.CreatedDate.Month -- @item.CreatedDate.Year</p>
    <a class="btn btn-primary">Detail</a>
  </div>
</div>
			</a>
		}
	</div>
</div>
	
}